:root {
  box-sizing: border-box;
  text-align: center;
  --font-size-large: 36px;
  --font-size-medium: 26px;
  --font-size-small: 20px;
  --font-size-extrasmall: 14px;
  --font-weight: 800;
  --white-color: rgb(255, 255, 255);
  --blue-color: rgb(0, 123, 255);
  --red-color: rgb(220, 53, 70);
  --yellow-color: rgba(252, 222, 68, 0.7);
  --green-color: rgb(102, 188, 105);
  --black-color: rgb(24, 24, 24);
  --grey-color: rgb(170, 170, 170);
  --dark-grey-color: rgb(61, 61, 61);
  --highlight-color: rgba(108, 117, 125, 0.3);
  --text-stroke: 1px var(--black-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--grey-color);
  background: linear-gradient(180deg, var(--grey-color) 0%, var(--dark-grey-color) 100%);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.player-one-component {
  rotate: 180deg;
}

hr {
  margin: 5px 0;
}

/* Player Component  */
.player {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 84px;
}

.hp-flex-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid var(--black-color);
}

.current-hp-plus-minus-wrapper,
.max-hp-plus-minus-wrapper {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.current-hp-plus-minus-wrapper .plus-btn,
.current-hp-plus-minus-wrapper .minus-btn {
  color: var(--white-color);
  font-size: var(--font-size-medium);
  -webkit-text-stroke: var(--text-stroke);
  height: 100%;
  border: none;
  border-right: 2px solid var(--black-color);
}

.max-hp-plus-minus-wrapper .plus-btn,
.max-hp-plus-minus-wrapper .minus-btn {
  color: var(--white-color);
  font-size: var(--font-size-medium);
  -webkit-text-stroke: var(--text-stroke);
  height: 100%;
  border: none;
  border-left: 2px solid var(--black-color);
}

.current-hp-plus-minus-wrapper .plus-btn,
.max-hp-plus-minus-wrapper .plus-btn {
  border-bottom: 2px solid var(--black-color);
}


.hp-wrapper {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.hp-status {
  font-size: var(--font-size-extrasmall);
  color: var(--black-color);
  font-weight: var(--font-weight);
}

.hp {
  font-weight: var(--font-weight);
  color: var(--white-color);
  font-size: var(--font-size-large);
  -webkit-text-stroke: var(--text-stroke);
  padding: 0;
  margin: 0;
}

/* Player Plus and Minus Buttons */
.plus-minus-flex-container {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 5px 0 0 0;
}

.plus-minus-wrapper {
  width: 50%;
}

.plus-minus-wrapper button {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight);
  -webkit-text-stroke: var(--text-stroke);
  color: var(--white-color);
  height: 42px;
  width: 50%;
  border: none;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
  border-right: 2px solid var(--black-color);
}

.plus-minus-wrapper button:first-child {
  border-left: 1px solid var(--black-color);
}

/* End Phase Button Component */
.end-phase {
  width: 100%;
  padding: 5px 0;
}

.end-phase-btn {
  width: 100%;
  height: 60px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  -webkit-text-stroke: var(--text-stroke);
  color: var(--white-color);
  border: 2px solid var(--black-color);
}

/* Attack Component */
.attack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.attack-zone-btn,
.attack-damage-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attack-speed {
  position: absolute;
  margin-right: 30px;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight);
  color: var(--white-color);
  -webkit-text-stroke: var(--text-stroke);
  border: none;
  background: none;
}

.attack-damage {
  position: absolute;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight);
  color: var(--white-color);
  -webkit-text-stroke: var(--text-stroke);
  border: none;
  background: none;
}

/* Block Component */
.block-container {
  display: flex;
  justify-content: center;
  background: none;
  padding: 5px 0;
}

.block-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-top: 2px solid var(--black-color);
  border-right: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
  background: none;
  font-size: var(--font-size-extrasmall);
  font-weight: var(--font-weight);
  color: var(--black-color);
  height: 60px;
  width: 100%;
}

.block-container:first-child {
  border-left: 2px solid var(--black-color);
}

.damage {
  font-size: var(--font-size-medium);
  color: var(--white-color);
  -webkit-text-stroke: var(--text-stroke);
}

#unblocked {
  background-color: var(--red-color);
}

#half-block {
  background: var(--yellow-color);
}

#full-block {
  background-color: var(--green-color);
}